body,html {

    color: #fff;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.container {

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: auto;
}

.background {
    overflow: auto;
    height: 100%;
    width: 100%;
    background: url("../images/swirl.jpg");
}

header {

    border-radius: 70px 70px 70px 70px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 90px;
    margin-top: 10px;
    float: left;
    height: 80px;
    width: 210px;
    color: #313131;
    background: linear-gradient(yellow, orange);
    border: 5px solid #d88c00;
    box-shadow: 10x 10px 10px #313133;
}

.myButton {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 20px 30px;
    font-weight: bold;
    background: linear-gradient(yellow, orange);
    border-radius: 70px 70px 70px 70px;
    padding: 10px 12px;
    border: 5px solid #d88c00;
    display: inline-block;
    color: #777;
    float: static;

}

.myButton:hover {
    background: #b97900;
    border-radius: 70px 70px 70px 70px;
}

nav {
    box-shadow: 10x 10px 10px #3c2f00;
    background: linear-gradient(orange, yellow);
    color: #fff;
    height: 80px;
    width: 100%;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
    border: 5px solid #d88c00;
}

ul {
    
    text-align: right;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    font-size: 18px;
    word-spacing: 10px;
    color: #313131;
    overflow: hidden;
}

li {
    display: inline-block;
    
}

li:last-child {


}

section {

    border-radius: 10px 50px 10px 10px;
    overflow: auto;
    border: 5px solid #d88c00;
    margin-right: 60px;
    margin-top: 50px;
    margin-left: -25px;
    margin-bottom: 100px;
    text-align: left;
    float: left;
    background: #ffb00570;
    color: #666;
    height: 525px;
    width: 830px;

}

form {

    font-size: 18px;
    color: #161616;
    height: 80%;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 75px;

}

.port-img {

    margin-top: 10px;
    margin-bottom: 0px;
    margin-left: 25px;
    margin-right: 0px;
    height: 100px;
    width: 100px;
    float: left;

}

img {

    margin-top: 0px;
    margin-bottom: 25px;
    margin-left: 25px;
    margin-right: 0px;
    height: 200px;
    width: 200px;
    float: left;

}

p {

    font-size: 20px;
    float: left;
    margin-top: -190px;
    margin-left: 250px;
    margin-right: 140px;
    text-align: center;
    color: #161616;
    height: 80%;
    font-family: Arial, Helvetica, sans-serif;

}

h1 {

    color: #313131;
    margin-top: 25px;
    margin-left: 7px;
    margin-right: 7px;
    font-size: 23px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h2 {

    color: #313131;
    font-size: 16px;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

h3 {

    color: #313131;
    border-bottom: 2px solid #d88c00;
    font-size: 23px;
    margin-top: -5px;
    margin-left: 0px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 25px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

footer {
    
    border: 5px solid #d88c00;
    float: left;
    text-align: center;
    background: linear-gradient(yellow, orange);
    color: #777;
    height: 60px;
    width: 100%;
    margin-top: 50px;

}